
*.db-wal
*.opendb
*.ipch
*.db-shm
*.sln
*.db
*.vsidx
*.lock
*.vcxproj
*.recipe
*.ilk
*.log
*.obj
*.pdb
*.tlog
*.exe
*.idb
*.user
*.filters
lab1/.vs/lab1/v17/.suo
lab1/x64/Debug/lab1.vcxproj.FileListAbsolute.txt
